:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  filter: blur(var(--blur));
  background: var(--base);
}

.h1 {
  color: var(--base);
}

body {
  text-align: center;
  background: url(./background.jpg) no-repeat center center/cover;
  color: black;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 50px;
  max-height: 100vh;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

a.refresh-btn {
  background: var(--base) !important;
  color: #fff;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
